@import "../../system.component.scss";

.container {
  margin-top: 28px;
  color: #77766c;

  .row {
    margin-left: 0;

    .info-block {
      margin-top: 16px;
      padding: 15px;
      @include style-block;
    }

    .buttons-block{
      margin-top: 24px;
      margin-bottom: 24px;
      padding-left: 0;
    }
  }
}

.title-formulation {
  color: #dcb170;
  font-size: 1.6rem;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .buttons-block {
    .btn-block {
      margin-bottom: 8px;
    }
  }
}


