<div class="row row-content">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="title-formulation">{{solutions[currentIdSolution]?.formulation}}</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
          <hr>
          <!--<div class="row">-->
          <!--<span>Сформированы следующие требования:</span>-->
          <!--</div>-->
          <div class="row justify-content-center">

            <div *ngIf="isTarget" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-block">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <span>Цели</span>
                </div>
                <div *ngFor="let item of datasetsTarget; let i = index"
                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <span>{{i + 1}}) {{item.label}}</span>
                  </div>
                  <div *ngIf="item.modifierType !== '-'" class="row">
                    <span style="font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;{{item.modifierType}}</span>
                  </div>
                  <!--<div class="row">-->
                  <!--<canvas id="canvas-target-{{i}}"></canvas>-->
                  <!--</div>-->
                </div>
              </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-block" id="limitation">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <span>Ограничения</span>
                </div>
                <div *ngFor="let item of datasetsLimitation; let j = index"
                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     style="margin-bottom:8px">
                  <div class="row">
                    <span>{{j + 1}}) {{item.label}}</span>
                  </div>
                  <div *ngIf="item.modifierType !== '-'" class="row">
                    <span style="font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;{{item.modifierType}}</span>
                  </div>
                  <!--<div class="row">-->
                  <!--<canvas id="canvas-limitation-{{j}}"></canvas>-->
                  <!--</div>-->
                </div>
              </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-block">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <span>Решение</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <span>На интервале альтернатив [{{solutions[currentIdSolution]?.datasets[0]?.valuesX[0]}}, {{solutions[currentIdSolution]?.datasets[0]?.valuesX[solutions[currentIdSolution]?.datasets[0]?.valuesX.length - 1]}}]
                    нечеткое решение представлено значением <span style="font-weight: bold">{{solutions[currentIdSolution]?.result}}</span></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-block">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <span>Графическая интерпретация модели формирования решения</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 8px">
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>

              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 buttons-block">
              <div class="row justify-content-between">
                <div class="col-lg-4 col-md-5 col-sm-4 col-xs-2">
                  <button
                    (click)="deleteSolution()"
                    class="btn btn-lg btn-block btn-decide btn-red"
                  >Удалить
                  </button>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 col-xs-2">
                  <button
                    (click)="printSolution()"
                    class="btn btn-lg btn-block btn-decide btn-blue"
                  >Распечатать
                  </button>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>


