<div class="row row-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">
        <div class="container" style="margin-top: 128px;">

            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                    <button class="info-block btn-help" [routerLink]="['../how-to-make-desion']">
                        <span>Как принять решение?</span>
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                    <button class="info-block btn-help" [routerLink]="['../how-to-view-solutions']">
                        <span>Как просмотреть созданные решения?</span>
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                    <button class="info-block btn-help" [routerLink]="['../how-to-manage-solutions']">
                        <span>Как удалить решение/распечатать отчет?</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
