<div class="row">
  <div class="col col-lg-4 col-md-8 col-sm-10 col-xs-12">

    <app-message></app-message>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="form">
      <p class="text-header text-center">Авторизация</p>
      <hr>

      <div
        class="form-group"
        [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
        <input
          type="text"
          class="form-control underlined"
          id="email"
          placeholder="Email"
          formControlName="email"/>

        <div class="error-block">
          <span
            *ngIf="form.get('email').invalid && form.get('email').touched">

            <span *ngIf="form.get('email')['errors']['required']">
              Email не может быть пустым. </span>
            <span *ngIf="form.get('email')['errors']['email']">
              Введите корректный email.</span>
          </span>
        </div>

      </div>

      <div
        class="form-group"
        [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Пароль"
          formControlName="password"/>

        <div class="error-block">
          <span
            *ngIf="form.get('password').invalid && form.get('password').touched">

            <span *ngIf="form.get('password')['errors']['required']">
              Пароль не может быть пустым. </span>
            <span *ngIf="form.get('password')['errors']['minlength']">
              Пароль должен быть больше
              {{ form.get('password')['errors']['minlength']['requiredLength'] }}</span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-lg btn-block btn-log btn-green"
        >Войти
        </button>
      </div>

      <div class="form-group">
        <p
          class="text-muted text-center text-account">Нет аккаунта?
          <a class="link-account" [routerLink]="['/registration']">Зарегистрироваться</a>
        </p>
      </div>
    </form>

  </div>
</div>
