<div class="row row-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col" style="padding: 0">
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12" style="padding: 0">
                    <div id="carousel" class="carousel slide" data-ride="carousel"  data-interval="false">

                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="left" class="text-carousel">
                                                Чтобы перейти к процедуре формирования решения, необходимо нажать на кнопку - ПРИНЯТЬ РЕШЕНИЕ
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-3"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="right" class="text-carousel">
                                                Здесь необходимо сформулировать постановку задачи. Например - РАСПРЕДЕЛЕНИЕ ДИВИДЕНТОВ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="left" class="text-carousel">
                                                Здесь необходимо определить интервал возможных значений (альтернатив). Для того задать НАЧАЛЬНОЕ и КОНЕЧНОЕ значения. А также определить шаг, указав число делений.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-4"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-5"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="right" class="text-carousel">
                                                На данном этапе необходимо сформировать все возможные требования. Они будут отображаться в выпадающем списке. Выбрав текущее требование, можно выполнить с ним такие действия как: ИЗМЕНИТЬ, УДАЛИТЬ. Или же ДОБАВИТЬ новое.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="left" class="text-carousel">
                                                Нажав на конопку - ИЗМЕНИТЬ - откроется окно, в котором необходимо указать: тип выбранного требования (ЦЕЛЬ/ОГРАНИЧЕНИЕ), сформулировать требование (должно содержать нечеткое понятие, например - ПРИВЛЕКАТЕЛЬНЫЕ), а также определить тип модификатора.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-6"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-7"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="right" class="text-carousel">
                                                Следущий шаг: определить степени принадлежности каждого значения интервала. Для этого необходимо указать интервалы значений для ЯДРА и НОСИТЕЛЯ. Значения должны выбираться из представленных на графике, в соответствии с сформированным шагом. Для всех чисел a,b,c,d должно выполняться условие: a<=b<=c<=d.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="left" class="text-carousel">
                                              После сохранения можно увидеть внесенные изменения для текущего требования.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-8"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-9"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="right" class="text-carousel">
                                                Если ДОБАВИТЬ новое требование, то на диаграмме можно увидеть график в начальном состоянии
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="left" class="text-carousel">
                                              После внесенных изменений диаграма выглядит следующим образом. Если все требования формализованы, то можно перейти к шагу РЕШЕНИЯ
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-10"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-11"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="right" class="text-carousel">
                                              При желании, сформированное решение можно СОХРАНИТЬ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                               <span class="arrow-prev"
                                     aria-hidden="true"></span>
                            </a>

                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="arrow-next"
                                  aria-hidden="true"
                            ></span>
                            </a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>