@import "../help.component.scss";

.img-2{
  background: url(../../shared/img/all-solutions-2.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-3{
  background: url(../../shared/img/step-1.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-4{
  background: url(../../shared/img/step-2.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-5{
  background: url(../../shared/img/step-3.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-6{
  background: url(../../shared/img/step-4.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-7{
  background: url(../../shared/img/step-5.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-8{
  background: url(../../shared/img/step-6.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-9{
  background: url(../../shared/img/step-7.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-10{
  background: url(../../shared/img/step-8.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-11{
  background: url(../../shared/img/step-9.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-12{
  background: url(../../shared/img/step-10.jpg) 50% 100% no-repeat;
  background-size: contain;
}
