@import "./../../styles.scss";

.row {
  height: 100vh !important;
  background: #f8f8f8;;
}

.col {
  margin: 100px auto 0 auto;
}

hr {
  width: 250px;
}

.form {
  margin: 0 auto;
  width: 350px;
  height: 400px;

  .form-control {
    position: relative;
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 5px;
    //background: #f8f8f8;
  }

  .form-group.check {
    margin-top: 25px;
  }

  .error-block {
    height: 16px;
  }



  .text-header {
    font-size: 2.0rem;
  }

  .text-account, .link-account, .text-check {
    font-size: 1.4rem;
  }

  .text-check, .text-header {
    color: #77766c;
  }

  .link-account {
    color: #DDA64D
  }

  .link-account:hover {
    color: #8FB87E;
  }

  .btn-reg {
    width: 250px;
  }

  .btn-log {
    width: 150px;
  }
}


