<div class="row row-content">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">
    <div class="container">


      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <button
            [routerLink]="['/system', 'decide']"
            class="btn btn-lg btn-block btn-decide btn-green"
          >Принять решение
          </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
          <hr>
          <div class="row justify-content-start">

            <div *ngFor="let item of solutions; let i = index" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
              <div class="card" [routerLink]="['/system/solution/', i + 1]">
                <div class="card-header">
                  <canvas id="canvas-{{i}}"></canvas>
                </div>
                <div class="card-body">
                  <span class="title">{{item.formulation}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


