@import "../system.component.scss";

.justify-content-start {
  margin-top: 50px;
}


.card {
  @include app-shadow-block;

  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  color: #77766c;
  background: #fff;
  transition-duration: 1s;

  .card-header {
    padding: 0;
    margin: -20px 15px 0;

    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 8px -5px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    padding: 35px 20px;
    font-size: 1.32em;
  }
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}


hr {
  margin-top: 0;
}

.btn-decide {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
}


@media (max-width: 767.98px) {
  .col-sm-12 {
    .card {
      height: 35rem;
    }
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    .card {
      height: 25rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}



