<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-nav-bar">

      <nav class="navbar fixed-top navbar-light"
           role="navigation">
        <div class="container-fluid" style="margin: 0">

          <div class="navbar-header">
            <button
              type="button"
              class="btn navbar-toggler"
              data-toggle="collapse"
              data-target="#nav-content">
              <!--<span class="name-user">{{user.name}}</span>-->
              <span class="navbar-toggler-icon arrow-top"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">LOGO</a>
          </div>

          <div class="navbar-collapse collapse hide"
               id="nav-content">
            <ul class="nav navbar-nav">
              <li class="nav-item" (click)="hideNavCollapse()" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/start', 'technology']">Технология</a>
              </li>
              <li class="nav-item" (click)="hideNavCollapse()" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/start', 'solutions']">Решения</a>
              </li>
              <hr>
              <li class="nav-item" (click)="hideNavCollapse()" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/start', 'contacts']">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-block">

      <button
        id="arrow-right-button"
        class="arrow-right-button"
        type="button"
        (click)="toggleMenu()">
        <span class="navbar-toggler-icon arrow-right"></span>
      </button>

      <div
        id="side-nav-bar"
        class="side-nav-bar" [@slideInOut]="menuState">

        <ul class="nav navbar-nav nav-tabs flex-column">
          <li class="nav-item" (click)="toggleMenu()" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/system']">
              <span class="text-link">Мои решения</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleMenu()" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/system', 'help']">
              <span class="text-link">Помощь</span>
            </a>
            <hr>
          </li>
          <br>
          <li class="nav-item" (click)="onLogout()">
            <a class="nav-link">
              <span class="text-link">Выход</span>
            </a>
          </li>
        </ul>
      </div>


      <button id="back-to-top"
              class="back-to-top"
              data-toggle="tooltip"
              data-placement="left">
        <span class="navbar-toggler-icon arrow-top"></span>
      </button>

      <router-outlet></router-outlet>
    </div>

  </div>

</div>






