<div class="row row-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col" style="padding: 0">
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12" style="padding: 0">
                    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">

                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-1"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="right" class="text-carousel">
                                               После выбора конкретного решения, осуществляется переход к подробному его описанию. Здесь можно УДАЛИТЬ решение, либо РАСПЕЧАТАТЬ отчет.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row row-carousel">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel block-text-carousel">
                                            <span align="left" class="text-carousel">
                                              Нажав кнопку РАСПЕЧАТАТЬ происходит переход на печать текущей страницы браузера.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-carousel">
                                        <div class="block-carousel img-2"></div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                               <span class="arrow-prev"
                                     aria-hidden="true"></span>
                            </a>

                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="arrow-next"
                                  aria-hidden="true"
                            ></span>
                            </a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>