@import "../help.component.scss";

.img-1{
  background: url(../../shared/img/manage-1.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.img-2{
  background: url(../../shared/img/manage-2.jpg) 50% 100% no-repeat;
  background-size: contain;
}