<div class="row">

  <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
    <div id="carousel"
         class="carousel slide"
         data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
      </ol>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="carousel-caption">
            <p>Управляйте своими решениями!</p>
            <button
              *ngIf="isShowButtonStart"
              [routerLink]="'/login'"
              class="btn btn-block btn-lg center-block btn-yellow"
            >Начать
            </button>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev"
         href="#carousel"
         role="button"
         data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next"
         href="#carousel"
         role="button"
         data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
    <hr>
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="block">

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="block">

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="block">

        </div>
      </div>
    </div>
  </div>
</div>





