
@import "./../../../styles.scss";

.carousel-caption {
  top: 32%;
}

.btn-yellow {
  width: 150px;
  height: 42px;

}

.block {
  background: #FFE4B9;
  border-color: #FFE4B9;

  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
}

.carousel-item {
  height: 600px !important;
  background: #f8f8f8;
}

p{
  color: #77766c;
}

img {
  max-width: 100%;
  height: auto;
}

.col-xs-12 {

  .block {
    margin-bottom: 15px;
  }
}
