
html {
  font-size: 12px;
}

body {
  color: #77766c;
  font-size: 1.4rem !important;
  //font-family: Helvetica Neue, sans-serif !important;
  //font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

p {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

.selector-for-some-widget {
  box-sizing: content-box;
}


textarea:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
.btn.active,
.btn:focus {
  box-shadow: none !important;
  outline-offset: 0 !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
}



.alert {
  min-width: 300px;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  text-align: center;
}

.alert-danger {
  background-color: #DD8A72;
  color: #F9F4F0;
}




.btn {
  cursor: pointer;

  border-style: solid;
  border-radius: inherit;

  display: inline-block;
  text-transform: uppercase;
}

.btn-green {
  height: 42.5px;

  color: #ffffff;
  background: #8FB87E;
  border-color: #8FB87E;
}

.btn-green:hover {
  color: #ffffff;
  background: #9CD185;
  border-color: #9CD185;
}

.btn-yellow {
  height: 42.5px;

  color: #ffffff;
  background: #dcb170;
  border-color: #dcb170;
}

.btn-yellow:hover {
  color: #ffffff;
  background: #F5B64F;
  border-color: #F5B64F;
}

.btn-blue {
  height: 42.5px;

  color: #ffffff;
  background: #636c72;
  border-color: #636c72;
}

.btn-blue:hover {
  color: #ffffff;
  background: #456b84;
  border-color: #456b84;
}

.btn-red {
  height: 42.5px;

  color: #ffffff;
  background: #842121;
  border-color: #842121;
}

.btn-red:hover {
  color: #ffffff;
  background: #9e2121;
  border-color: #9e2121;
}



@mixin app-shadow-block  {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}



.form-control, .form-group {
  text-align: center;
}

input[placeholder] {
  color: #77766c;
}

input[type="text"], input[type="password"] {
  color: #77766c;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #77766c;
  border-radius: 0;
}

// заполнение инпут (по умолчанию желтый)
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #FFFFFF !important;
}




.has-error {
  color: #DD8A72;
  font-size: 12px;

  input {
    border-bottom-color: #DD8A72;
  }
}

.form-help-text {
  margin-top: 5px;
}
