<div class="row row-content">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <app-message *ngIf="showMessage === 1"></app-message>

          <form
            [formGroup]="form"
            class="form">

            <ul id="tabs"
                class="nav nav-tabs"
                role="tablist">

              <li class="nav-item">
                <a id="link1" class="nav-link active" data-toggle="tab" href="#tab1">Постановка задачи</a>
              </li>

              <li class="nav-item">
                <a id="link2" class="nav-link" data-toggle="tab" href="#tab2">Тип задачи</a>
              </li>

              <li class="nav-item">
                <a id="link3" class="nav-link" data-toggle="tab" href="#tab3">Инициализация</a>
              </li>
              <li class="nav-item">
                <a id="link5" class="nav-link" data-toggle="tab" href="#tab5">Требования</a>
              </li>

              <li class="nav-item">
                <a id="link6" class="nav-link" data-toggle="tab" href="#tab6">Результат</a>
              </li>

              <li class="nav-item">
                <a id="link4" class="nav-link" data-toggle="tab" href="#tab4">Альтернативы</a>
              </li>
            </ul>


            <div class="tab-content">

              <div id="tab1"
                   class="tab-pane in active">

                <div class="row justify-content-center col-content">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center">
                      <span>Сформулируйте задачу</span>
                      <hr style="max-width: 250px">
                    </div>
                  </div>

                  <div class="col-auto col-xs-12 col-sm-12 col-md-12 col-lg-8 col-block" style="margin-bottom: 50px">
                      <textarea rows="10"
                                class="form-control text-block text-task"
                                formControlName="task"></textarea>
                  </div>
                </div>

                <div class="row justify-content-end">
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="isErrorNext(1)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-next"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div id="tab2"
                   class="tab-pane fade">

                <div class="row justify-content-between col-content">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center">
                      <span>Поиск решения на...</span>
                      <hr style="max-width: 250px">
                    </div>
                  </div>

                  <div class="col-auto col-xs-12 col-sm-6 col-md-6 col-lg-6 col-block">
                    <button
                      (click)="onTypeButton('task', 1)"
                      class="btn btn-lg btn-type-task type1"
                      [ngClass]="{'btn-grey-yellow': typeTask === 1, 'btn-grey': typeTask !== 1}"
                    >
                      <span>На множестве исходных вариантов</span>
                    </button>
                  </div>
                  <div class="col-auto col-xs-12 col-sm-6 col-md-6 col-lg-6 col-block">
                    <button
                      (click)="onTypeButton('task', 2)"
                      class="btn btn-lg btn-type-task type2"
                      [ngClass]="{'btn-grey-yellow': typeTask === 2, 'btn-grey': typeTask !== 2}"
                    >
                      <span>На интервале вариантов</span>
                    </button>
                  </div>
                </div>

                <div class="row justify-content-between">
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="activateTab(2, 1)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-back"></span>
                    </button>
                  </div>
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="isErrorNext(2)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-next"></span>
                    </button>
                  </div>
                </div>
              </div>


              <div id="tab3"
                   class="tab-pane fade">

                <div class="row justify-content-between col-content chart-content">

                  <div class="col-auto col-xs-12 col-sm-12 col-md-6 col-lg-6 col-block">
                    <div class="chart-block">
                      <canvas id="canvas1"></canvas>
                    </div>
                  </div>
                  <div class="col-auto col-xs-12 col-sm-12 col-md-6 col-lg-6 col-block">
                    <div class="params-block">

                      <div class="row">

                        <div class="text-center" style="width: 100%">
                          <span>Интервал</span>
                          <hr style="max-width: 250px">
                        </div>

                        <div class="col-6">
                          <div class="label">
                            <span>Начало</span>
                          </div>
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': form.get('start').invalid && form.get('start').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="start"
                                   formControlName="start"
                            >
                            <div class="error-block">
                              <span
                                *ngIf="form.get('start').invalid && form.get('start').touched">

                            <span *ngIf="form.get('start')['errors']['required']">
                              Поле не может быть пустым. </span>
                            <span *ngIf="form.get('start')['errors']['pattern']">
                              Не должно быть букв</span>
                          </span>
                            </div>
                          </div>

                        </div>
                        <div class="col-6">
                          <div class="label">
                            <span>Конец</span>
                          </div>
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': form.get('end').invalid && form.get('end').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="end"
                                   formControlName="end"
                            >
                            <div class="error-block">
                              <span
                                *ngIf="form.get('end').invalid && form.get('end').touched">

                                <span *ngIf="form.get('end')['errors']['less'] && form.get('end')['errors']['required']
                                || form.get('end')['errors']['required'];else isZero">
                              Поле не может быть пустым</span>

                                <ng-template #isZero>
                                  <span
                                    *ngIf="form.get('end')['errors']['less'] && form.get('end')['errors']['zero'];else isLess">
                                    Должно быть больше 0</span>
                                </ng-template>

                                <ng-template #isLess>
                                  <span
                                    *ngIf="form.get('end')['errors']['less']">
                                    Не должно быть меньше/равно start</span>
                                </ng-template>

                                <span *ngIf="form.get('end')['errors']['pattern']">
                              Не должно быть букв</span>

                                <span *ngIf="form.get('end')['errors']['zero'] && !form.get('end')['errors']['less']">
                              Должно быть больше 0</span>
                          </span>
                            </div>
                          </div>
                        </div>

                        <div class="text-center label" style="margin-top: 10px;">
                          <span>Число делений</span>
                          <hr style="max-width: 250px">
                        </div>

                        <div class="col-auto col-6 col-center">
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': form.get('step').invalid && form.get('step').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="countStep"
                                   formControlName="step"
                                   style="margin: 0 auto">
                            <div class="error-block">
                              <span
                                *ngIf="form.get('step').invalid && form.get('step').touched">

                                <span *ngIf="form.get('step')['errors']['required']">
                              Поле не может быть пустым. </span>
                                <span *ngIf="form.get('step')['errors']['pattern']">
                              Не должно быть букв</span>
                                <span *ngIf="form.get('step')['errors']['zero']">
                              Должно быть больше 0</span>
                          </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-auto col-xs-6 col-sm-6 col-md-9 col-lg-6 col-center">
                          <button
                            (click)="initChart()"
                            class="btn btn-lg btn-green btn-init">
                            <span>Инициализовать</span>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row justify-content-between">
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="activateTab(3, 2)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-back"></span>
                    </button>
                  </div>
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="isErrorNext(3)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-next"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div id="tab5"
                   class="tab-pane fade">

                <div class="row justify-content-between col-content chart-content">

                  <div class="col-auto col-xs-12 col-sm-12 col-md-6 col-lg-6 col-block">
                    <div class="chart-block">
                      <canvas id="canvas2"></canvas>
                    </div>
                  </div>

                  <div class="col-auto col-xs-12 col-sm-12 col-md-6 col-lg-6 col-block">
                    <div class="params-block">

                      <div class="row">
                        <div class="col-auto col-12">
                          <hr>

                          <div class="dropdown">
                            <button
                              class="
                              btn
                              btn-secondary
                              dropdown-toggle
                              btn-select"
                              type="button" id="dropdownMenuButton"
                              data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <span *ngIf="datasets.length">{{datasets[indexCurrentDataset].label}}</span>
                            </button>
                            <div *ngIf="datasets.length" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                              <a *ngFor="let item of datasets; let i = index" class="dropdown-item"
                                 (click)="setCorrentItem(i)">{{datasets[i].label}}</a>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-auto col-6 col-center">
                          <button type="button"
                                  (click)="updateChart()"
                                  class="btn btn-lg btn-blue btn-demand btn-demand-update">
                            <span>Изменить</span>
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-auto col-6 col-center">
                          <button
                            (click)="deleteChart()"
                            class="btn btn-lg btn-red btn-demand">
                            <span>Удалить</span>
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-auto col-6 col-center">
                          <button
                            (click)="addChart()"
                            class="btn btn-lg btn-green btn-demand">
                            <span>Добавить</span>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row justify-content-between">
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="activateTab(5, 3)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-back"></span>
                    </button>
                  </div>
                  <div class="col-auto col-xs-4 col-sm-4 col-md-4 col-lg-3">
                    <button
                      (click)="isErrorNext(5)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span>Найти решение</span>
                    </button>
                  </div>
                </div>
              </div>


              <div id="tab6"
                   class="tab-pane">

                <div class="row justify-content-center col-content">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center">
                      <span>Найденное решение...</span>
                      <hr style="max-width: 250px">
                    </div>
                  </div>

                  <div class="col-auto col-xs-12 col-sm-12 col-md-12 col-lg-8 col-block" style="margin-bottom: 50px">

                    <div class="text-block result-block">
                      <div class="text-center">
                        <span>{{result}}</span>
                      </div>
                     </div>

                  </div>
                </div>

                <div class="row justify-content-between">
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="activateTab(6, 5)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-back"></span>
                    </button>
                  </div>
                  <div class="col-auto col-xs-3 col-sm-3 col-md-3 col-lg-2">
                    <button
                      (click)="saveResult()"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span>Сохранить</span>
                    </button>
                  </div>
                </div>
              </div>



              <div id="tab4"
                   class="tab-pane fade">

                <div class="row justify-content-between col-content">
                  <div class="col-auto col-xs-12 col-sm-6 col-md-6 col-lg-6 col-block"></div>
                  <div class="col-auto col-xs-12 col-sm-6 col-md-6 col-lg-6 col-block"></div>
                </div>

                <div class="row justify-content-between">
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="activateTab(4, 2)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-back"></span>
                    </button>
                  </div>
                  <div class="col-auto col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    <button
                      (click)="isErrorNext(4)"
                      class="btn btn-lg btn-block btn-yellow"
                    >
                      <span class="arrow-next"></span>
                    </button>
                  </div>
                </div>
              </div>


            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button"
                (click)="showMessage = 1"
                class="close btn-close"
                data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row body-block">
          <div class="col-12">

            <app-message *ngIf="showMessage === 2"></app-message>

            <form
              [formGroup]="formModal"
              class="form">

              <div class="container" id="modal1" style="margin-top: 50px">
                <div class="row justify-content-center">
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <button
                      (click)="onTypeButton('demand',1)"
                      class="btn btn-lg btn-type-demand type1"
                      [ngClass]="{'btn-grey-yellow': currentTypeDemand === 1, 'btn-grey': currentTypeDemand !== 1}"
                    >
                      <span>Ограничение</span>
                    </button>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <button
                      (click)="onTypeButton('demand',2)"
                      class="btn btn-lg btn-type-demand type2"
                      [ngClass]="{'btn-grey-yellow': currentTypeDemand === 2, 'btn-grey':currentTypeDemand !== 2}"
                    >
                      <span>Цель</span>
                    </button>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-text-demand">
                      <textarea
                        *ngIf="datasets.length"
                        rows="5"
                        class="form-control text-block text-demand"
                        formControlName="demand">
                      </textarea>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <button
                      (click)="onTypeButton('modifier',0)"
                      class="btn btn-lg btn-type-modifier type0"
                      [ngClass]="{'btn-grey-yellow': currentTypeModifier === 0, 'btn-grey': currentTypeModifier !== 0}"
                    >
                      <span>-</span>
                    </button>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <button
                      (click)="onTypeButton('modifier',1)"
                      class="btn btn-lg btn-type-modifier type1"
                      [ngClass]="{'btn-grey-yellow': currentTypeModifier === 1, 'btn-grey': currentTypeModifier !== 1}"
                    >
                      <span>Очень</span>
                    </button>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <button
                      (click)="onTypeButton('modifier',2)"
                      class="btn btn-lg btn-type-modifier type2"
                      [ngClass]="{'btn-grey-yellow': currentTypeModifier === 2, 'btn-grey': currentTypeModifier !== 2}"
                    >
                      <span>Почти</span>
                    </button>
                  </div>
                </div>
              </div>


              <div class="container" id="modal2">
                <div class="row col-content chart-content">

                  <div class="col-auto col-xs-6 col-sm-7 col-md-6 col-lg-6 col-block">
                    <div class="chart-block">
                      <canvas id="canvas3"></canvas>
                    </div>
                  </div>

                  <div class="col-auto col-xs-6 col-sm-5 col-md-6 col-lg-6 col-block">
                    <div class="params-block">

                      <div class="row">

                        <div class="text-center" style="width: 100%">
                          <span>Носитель</span>
                          <hr style="max-width: 200px">
                        </div>

                        <div class="col-6">
                          <div class="label">
                            <span>a</span>
                          </div>
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': formModal.get('a').invalid && formModal.get('a').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="a"
                                   formControlName="a"
                                   (input)="updateData()"
                            >

                            <div class="error-block">
                              <span
                                *ngIf="formModal.get('a').invalid && formModal.get('a').touched">

                                <span *ngIf="formModal.get('a')['errors']['required']">
                                  Поле не может быть пустым</span>

                                <span *ngIf="formModal.get('a')['errors']['moreB']">
                                  Не должно быть больше b</span>

                                <span *ngIf="formModal.get('a')['errors']['pattern']">
                                  Не должно быть букв</span>
                              </span>
                            </div>

                          </div>
                        </div>
                        <div class="col-6">
                          <div class="label">
                            <span>d</span>
                          </div>
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': formModal.get('d').invalid && formModal.get('d').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="d"
                                   formControlName="d"
                                   (input)="updateData()"
                            >
                            <div class="error-block">
                                <span
                                  *ngIf="formModal.get('d').invalid && formModal.get('d').touched">

                                  <span *ngIf="formModal.get('d')['errors']['lessC'] && formModal.get('d')['errors']['required']
                                  || formModal.get('d')['errors']['required'];else isZeroD">
                              Поле не может быть пустым</span>

                                  <ng-template #isZeroD>
                                    <span *ngIf="formModal.get('d')['errors']['lessC'] && formModal.get('d')['errors']['zero'];else isLessC">
                                      Не должно быть равно 0</span>
                                  </ng-template>

                                  <ng-template #isLessC>
                                  <span
                                    *ngIf="formModal.get('d')['errors']['lessC']">
                                    Не должно быть меньше c</span>
                                </ng-template>

                                <span *ngIf="formModal.get('d')['errors']['pattern']">
                                  Не должно быть букв</span>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="text-center label">
                          <span>Ядро</span>
                          <hr style="max-width: 200px">
                        </div>

                        <div class="col-6">
                          <div class="label">
                            <span>b</span>
                          </div>
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': formModal.get('b').invalid && formModal.get('b').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="b"
                                   formControlName="b"
                                   (input)="updateData()"
                            >
                            <div class="error-block">
                                <span
                                  *ngIf="formModal.get('b').invalid && formModal.get('b').touched">

                                  <span *ngIf="formModal.get('b')['errors']['lessA'] && formModal.get('b')['errors']['required']
                                  || formModal.get('b')['errors']['required'];else isLessA">
                              Поле не может быть пустым</span>

                                  <ng-template #isLessA>
                                    <span *ngIf="formModal.get('b')['errors']['lessA']">
                                      Не должно быть меньше a</span>
                                  </ng-template>

                                <span *ngIf="formModal.get('b')['errors']['moreC']">
                                  Не должно быть больше c</span>

                                <span *ngIf="formModal.get('b')['errors']['pattern']">
                                  Не должно быть букв</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="label">
                            <span>c</span>
                          </div>
                          <div
                            class="form-group"
                            [ngClass]="{'has-error': formModal.get('c').invalid && formModal.get('c').touched}">
                            <input type="text" class="form-control init" [(ngModel)]="c"
                                   formControlName="c"
                                   (input)="updateData()"
                            >
                            <div class="error-block">
                                <span
                                  *ngIf="formModal.get('c').invalid && formModal.get('c').touched">

                                  <span *ngIf="formModal.get('c')['errors']['lessB'] && formModal.get('c')['errors']['required']
                                  || formModal.get('c')['errors']['required'];else isLessB">
                                    Поле не может быть пустым</span>

                                  <ng-template #isLessB>
                                    <span *ngIf="formModal.get('c')['errors']['lessB']">
                                      Не должно быть меньше b</span>
                                  </ng-template>

                                <span *ngIf="formModal.get('c')['errors']['moreD']">
                                  Не должно быть больше d</span>

                                <span *ngIf="formModal.get('c')['errors']['pattern']">
                                  Не должно быть букв</span>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </form>

          </div>
        </div>

      </div>


      <div class="modal-footer">

        <button
          id="buttonBack"
          (click)="isErrorBackModal()"
          class="btn btn-lg btn-blue btn-modal-footer">
          <span class="arrow-back"></span>
        </button>

        <button
          id="buttonNext"
          (click)="isErrorNextModal()"
          class="btn btn-lg btn-blue btn-modal-footer">
          <span class="arrow-next"></span>
        </button>

        <button
          id="buttonSave"
          (click)="saveChart()"
          class="btn btn-lg btn-blue btn-modal-footer"
        >
          <span>Сохранить</span>
        </button>

      </div>

    </div>
  </div>
</div>

